.container {
  width: 80%;
  margin: 40px auto;
}

.title {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: #000;
  font-size: 48px;
}

.common {
  width: 80%;
  margin: 40px auto;
}
