.container {
  width: 50%;
  margin: 80px auto;
}

.title {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 48px;
  color: #000000;
}

.common {
  width: 100%;
  margin: 40px auto;
}

.subTitle {
  text-align: center;
  color: #000000;
}
